{% block form %}
    {% if requestChart is defined or fail == true %}
        {{ render(controller('App\\Controller\\MainController::indexAction')) }}
    {%  endif %}
    <div class="container-fluid">
    {%  if form is defined %}
        {%  block form_row %}
            {% form_theme form with 'form/bootstrap_4_layout_no_label_error.html.twig' %}
            <div class="col-md-5 col-md-offset-1">
                <label class="h1">Recherche</label><br>
                <label class="form-text text-muted">Remplir les deux champs pour une période ou seulement Debut pour une date précise</label>
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}, 'action': path('recherche_globale')}) }}
                <div class="form-group">
                    {# Date Debut #}
                    {{ form_row(form.debut) }}
                    {{ form_errors(form.debut) }}
                </div>
                <div class="form-group">
                    {# Date Fin #}
                    {{ form_row(form.fin) }}
                    {{ form_errors(form.fin) }}
                </div>
                <div class="form-group">
                    {# Type #}
                </div>
                <div class="form-group">
                    {# Site #}
                    {{ form_row(form.site) }}
                </div>
                <div class="form-group">
                    {# Poste #}
                    {{ form_label(form.poste) }}
                    {{ form_widget(form.poste) }}
                    {{ form_errors(form.poste) }}
                </div>
                {% if form.vars.errors|length >= 1 %}
                    <div class="form-group alert">
                        {# Errors #}
                        {{ form_errors(form) }}
                    </div>
                {% endif %}
                <div class="form-group">
                    {# Rechercher ! #}
                    {{ form_widget(form.rechercher) }}
                    {{ form_end(form) }}
                </div>
            </div>
        {% endblock %}
        {% block formAJAX %}
            <script>
                let $site = $('#recherche_site');
                // When sites gets selected ...
                $site.change(function() {
                    // ... retrieve the corresponding form.
                    let $form = $(this).closest('form');
                    // Simulate form data, but only include the selected site value.
                    let data = {};
                    data['site'] = $site.val();
                    console.log(data);
                    // Submit data via AJAX to the form's action path.
                    $.ajax({
                        url : "{{ url('site_ajax_call') }}?site_id="+data['site'],
                        type: $form.attr('method'),
                        success: function(data) {
                            // Replace current position field ...
                            $('#recherche_poste').html('');
                                // ... with the returned one from the AJAX response.
                            $.each(data, function (k, v) {
                                    $('#recherche_poste').append('<option value="' + v + '">' + k + '</option>')
                                }
                            );
                            // Poste field now displays the appropriate postes.
                        }
                    });
                });
            </script>
        {% endblock %}
    {% endif %}
        {% endblock %}

        {% block requestChart %}
        {% if requestChart is defined %}
            {% if noDataFound is not defined %}
            <div id="div_requestChart" class="col-md-6 col-lg-offset-0"></div>

            <script type="text/javascript">
                {{ gc_draw(requestChart, 'div_requestChart') }}
            </script>
            {% else %}
                <br/>
            <p class="col-md-5 col-lg-offset-0 alert-danger text-center">{{ noDataFound }}</p>
            {%  endif %}
        {% endif %}
    </div>
{% endblock %}